<h1>Liste des évènements : </h1>
<table border="1">
    <tr>
        <td>Nom de l'évènement</td>
        <td>Adressse de l'évènement</td>
        <td>Nombre de personnes</td>
        <td>Nombre de places</td>
        <td>Date de début</td>
        <td>Date de fin</td>
        
      
        
    </tr>
    {% for Evenement in Evenement %}
        <tr>
            <td>{{ Evenement.nomE }}</td>
             <td>{{ Evenement.adresseE }}</td>
             <td>{{ Evenement.nbrPers }}</td>
             <td>{{ Evenement.nbrPlaces }}</td>
            <td>{{ Evenement.getDateDebut()|date('d M Y') }}</td>
            <td>{{ Evenement.getDateFin()|date('d M Y') }}</td>
       
      
           



            

     
        </tr>
    {% endfor %}
</table>