
{% extends 'base/baseadmin.html.twig' %}

{% block titre %} pour la form {% endblock %}

{% block corp%}


    <input type="text" id="search" class="form-control" placeholder="Search">

    
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("#search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#Ytable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>


   <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                           <table>
                            <td><a href="{{path('addEvenement')}}"  >
             <buttontype="button"  style =" margin-left:40% " class="btn btn-success"> Ajouter évènement </button>
              </a><td>
             <td><a href="{{path('stat')}}"  > 
             <button   type="button"  style =" margin-left:40% " class="btn btn-success"> Statistiques </button>
              </a></td></table>

<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: coral;}
</style>
</head>




<br><br><br>
<br><br><br>



<h2> liste des évènements</h2>




<section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
<br><br><br>
                    <div class="table-wrap">
                  <table id="Ytable" class="table table-striped table-bordered">
                            <thead class="thead-primary">
                            <tr style="color:red">
         <td>Nom de l'évènement</td>
        <td>Adressse de l'évènement</td>
        <td>Nombre de personnes</td>
        <td>Nombre de places</td>
        <td>Date de début</td>
        <td>Date de fin</td>
        <td>Suppression</td>
        <td>Modification</td>
      





                            </tr>
                            </thead>
 {% for Evenement in Evenements %}
        <tr>
            <td>{{ Evenement.nomE }}</td>
             <td>{{ Evenement.adresseE }}</td>
             <td>{{ Evenement.nbrPers }}</td>
             <td>{{ Evenement.nbrPlaces }}</td>
             <td>{{ Evenement.dateDebut|date('d M Y') }}</td>
            <td>{{ Evenement.dateFin|date('d M Y') }}</td>
          
                 
                  <td> <button class="btn btn-danger" > 
  
                                              <a href="{{ path('deleteEvenement',{'idE':Evenement.idE}) }}"style="color:white">Delete</a>
                                            </button></td>



                                             <td> <button class="btn btn-info" > 
  
                                           
                                    <a href="{{ path('updateEvenement',{'idE':Evenement.idE}) }}" style="color:white" >Update</a>
                                            </button></td>
           


            

     
        </tr>
    {% endfor %}

                            </tbody>
                        </table>
<br><br><br>
                
                </div>
            </div>
        </div>
    </section>








{% endblock %}







