{% extends 'base/baseadmin.html.twig' %}
{% block titre %}  Pour la form {% endblock %}




{% block corp %}
<br><br>

<h2>Ajouter Produit </h2>
<br>

              
{{ form_start (formP, {attr: {novalidate: 'novalidate'}})}}
  <div class="inputfield">
  {{ form_row( formP.nom,{'attr' : {'placeholder' : "saisir votre nom"}}) }}
</div>  
 <div class="inputfield">
        
 {{ form_row( formP.type,{'attr' : {'placeholder' : "saisir votre type"}}) }}
       </div>  


       
     
        <div class="inputfield">
      
       {{ form_row( formP.prix,{'attr' : {'placeholder' : "saisir prix "}}) }}
       </div> 
    
      <div class="inputfield"> 
      
        {{ form_row( formP.quantite,{'attr' : {'placeholder' : "saisir quantite"}}) }}
       </div> 
 
<div class="inputfield"> 
             {{ form_row(formP.image, {'attr':{'class':'form-control'}})}}
    </div>

        
     
    

{{ form_end (formP)}}
            </div>
        </div>
    </div>


    {% endblock  %}