{% extends 'base/baseadmin.html.twig' %}

{% block titre %} pour la form {% endblock %}

{% block corp%}
</style>
</head>
<body>

  <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <a href="{{path('addFournisseur')}}"  >
             <button   type="button"  style =" margin-left:40% " class="btn btn-warning"> Ajouter un Fournisseur</button>
              </a>
              

<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: coral;}
</style>
</head>

<br><br><br>






















 <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section" style="color:red">la liste des Fournisseurs </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
<br><br><br>
                    <div class="table-wrap">
                  <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead class="thead-primary">
                            <tr style="color:red">

    <th>nom</th>
    <th>address</th>
    <th>numero</th>
    <th>email</th>
     <th>delate</th>
    <th>modify</th>





                            </tr>
                            </thead>
                            <tbody id="all">

     {% for Fournisseur in Fournisseurs %}
        <tr>
            <td>{{ Fournisseur.nom }}</td>
             <td>{{ Fournisseur.address }}</td>
               <td>{{ Fournisseur.numTel }}</td>
                <td>{{ Fournisseur.email }}</td>


                  <td> <button class="btn btn-danger" > 
  
                                            <a href="{{ path('deleteFournisseur',{'id':Fournisseur.id}) }}" style="color:white">Delete</a>
                                            </button></td>



                                             <td> <button class="btn btn-info" > 
  
                                           
                                    <a href="{{ path('updateFournisseur',{'id':Fournisseur.id}) }} " style="color:white" >Update</a>
                                            </button></td>
                                   
           


            

     
        </tr>
    {% endfor %}

                            </tbody>
                        </table>
<br><br><br>
                
                </div>
            </div>
        </div>
    </section>







<!-- jQuery is necessary -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#search").keyup(function() {
                var minlength = 3;
                var that = this;
                var value = $(this).val(); // elyyktbo fi input 7atito fi var var
                var entitySelector = $("#entitiesNav").html('');
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('ajax_search') }}",
                        data: {
                            'q' : value
                        },
                        dataType: "text",
                        success: function(msg){
                            //we need to check if the value is the same
                            if (value==$(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {

                                        if (key == 'users') {

                                            if (id != 'error') {

                                                x= document.getElementById("containerr");

                                
                                                entitySelector.append('<div style="display: table;width:100%;padding: 15px">  <span style="class="heading">email  :'+value[0]+'</span><br/><span style="text-align: center">firstname :'+value[1]+'</span><br/><span style="text-align: center">lastname  :'+value[2]+'</span><br/> </div>');
                                            

                                            } else {
                                                entitySelector.append('<li class="errorLi">'+value+'</li>');
                                            }
                                        }
                                   
                                    });
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>

 {% endblock %}